	{% load staticfiles %}
    {% load static %}

	<!DOCTYPE html>
	<html>

	<head>
    <link rel="icon" href="https://abs.twimg.com/icons/apple-touch-icon-192x192.png">

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <title>TweetyTics</title>

	    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"><style>
body{ background: url("{% static "background.jpg" %}") no-repeat center fixed;
  background-size: cover;
}

</style>
	</head>

	<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% url 'apphome' %}">CS315 Project: TweetyTics</a>
	    </div>

        <div id="navbar" class="navbar-collapse collapse">-->
            <ul class="nav navbar-nav">
                <li><a href="{% url 'apphome' %}">World Map</a></li>
                <li><a href="{% url 'wordpop' %}">Word Popularity</a></li>
            </ul>
        </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="{% url 'apphome'%}">Home</a></li>
	            <li><a target="_blank" href="https://www.cse.iitk.ac.in/pages/AntiCheatingPolicy.html">Academic Policy</a></li>
	            <li class="divider"></li>
	            <li><a href="{% url 'contact' %}">About Us</a></li>
	            <li class="divider"></li>
	            <li><a href="{% url 'index' %}">Leave</a></li>
	          </ul>
	        </li>

	      </ul>
	    </div>
	  </div>
	</nav>
                {% block title %}
                {% endblock %}
	            {% block content %}
	            {% endblock %}
<script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>

	    {% block javascript %}
	    {% endblock %}

	</body>

	</html>
